.tooltip_icon {
  display: none;
  font-size: 1em;
  padding-left: 10px;
  cursor: pointer;
}
#tooltip_row div {
  background: transparent;
}
#tooltip_title {
  display: none;
  max-width: 400px;
  background-color:#333;
  color:#fff;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
}
#tooltip_txt {
  display: none;
  max-width: 400px;
  background-color:#333;
  color:#fff;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
}
span.bold {
  font-weight: bold;
}